---
layout: null
---
.ir-comics-first-small {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -10px;
  width: 19px;
  height: 18px;
}
.ir-comics-prev-small {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -48px;
  width: 14px;
  height: 16px;
}
.ir-comics-next-small {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -84px;
  width: 13px;
  height: 17px;
}
.ir-comics-latest-small {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -121px;
  width: 19px;
  height: 16px;
}
.ir-comics-first-big {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -157px;
  width: 38px;
  height: 36px;
}
.ir-comics-prev-big {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -213px;
  width: 29px;
  height: 32px;
}
.ir-comics-random-big {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -265px;
  width: 19px;
  height: 36px;
}
.ir-comics-next-big {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -321px;
  width: 27px;
  height: 33px;
}
.ir-comics-latest-big {
  background-image: url('{{ site.static_url }}/img/single-icons.png');
  background-position: -10px -374px;
  width: 38px;
  height: 32px;
}
